<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Выбери количество вопросов</p>

  <form action="{% url 'quiz:quantity' %}" method="post">
{% csrf_token %}
  <label>
    <input type="radio" name="question" value="10">10</label>
  <br>
  <label>
    <input type="radio" name="question" value="20">20</label>

      <br>
  <label>
    <input type="radio" name="question" value="30">30</label>
<br>
  <label>
    <input type="radio" name="question" value="50">50</label>

       <p>
            <input type="submit" value="Отправить">
    </p>
</form>

</body>
</html>